
@{
    ViewBag.Title = "CalculatriceV1";
}

<head>
    <title>Petite calculatrice entière (un classique !)</title>
    <style id="style" type="text/css">
        BODY, INPUT, SELECT {
            font-family: Verdana;
            font-size: 16px;
        }

        .sRecommencer {
            font-size: 10px;
            vertical-align: 3px;
        }

        .sResultat {
            color: White;
            background-color: Red;
            font-weight: bold;
            border: solid 1px red;
            padding-left: 2px;
            padding-right: 2px;
        }

        .sRouge {
            color: White;
            background-color: Red;
        }

        .sTitreApplication {
            font-size: 32px;
            margin-top: 0px;
        }

        .sTitreSection {
            font-size: 24px;
        }

        .sZoneNombre {
            width: 25px;
            text-align: right;
        }
    </style>
</head>

<p class="sTitreApplication">
    Petite calculatrice entière (un classique !)<br />
    par Gabriel Marrero
    <input type="submit" name="btnRecommencer" value="Recommencer" onclick="javascript:WebForm_DoPostBackWithOptions(new WebForm_PostBackOptions(&quot;btnRecommencer&quot;, &quot;&quot;, true, &quot;&quot;, &quot;&quot;, false, false))" id="btnRecommencer" class="sRecommencer" />
</p>
<p class="sTitreSection">
    Présentation
</p>
<p>
    Le but de cette application est de simuler une petite calculatrice entière.
</p>
<p class="sTitreSection">
    Consignes
</p>
<p>
    Entrez un premier nombre, l'opérateur, puis un deuxième nombre. Cliquez ensuite
    sur le bouton "=" pour effectuer l'opération arithmétique.
</p>